.game {
	position: relative;
	top: 100px;
	display: flex;
	width: 600px;
	height: 400px;
	margin: 0 auto;
}

.game__information {
	display: flex;
	flex-direction: column;
}

.game__start-button {
	width: 100%;
	border: none;
	border-radius: 5px;
	background-color: rgb(205, 28, 40);
	color: white;
	cursor: pointer;
	transition: 0.3s;
	padding: 5px;
}

.game__start-button:hover {
	transform: scale(1.02);
}
